.placeHolder {
  line-height: normal;
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  left: 11px;
  color: #000000;
  z-index: 1 !important;
}
.requiredText {
  opacity: 60%;
  color: #686869 !important;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}
.star {
  color: rgba(255, 40, 25, 1);
  display: inline-block;
  transform: translateX(1.5px);
}

.appInput {
  font-size: var(--font-14);
  font-weight: 500;
  position: relative;
  .ant-input::placeholder {
    color: #202123 !important;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
  }

  *:focus {
    outline: 0 !important;
    box-shadow: unset !important;
  }
  &:hover {
    .ant-input {
      border-color: #d9d9d9;
    }
  }

  &:has(.ant-input-affix-wrapper) {
    .ant-input {
      border: none !important;
      height: unset !important;
    }
  }
  .ant-input-affix-wrapper {
    height: 40px;
    display: flex;
    align-items: center;
    .ant-input-outlined:focus-within {
      box-shadow: unset !important;
    }

    *:focus {
      outline: 0 !important;
      box-shadow: unset !important;
    }
  }
  .ant-input-outlined {
    height: 40px;
    &:hover {
      border-color: #d9d9d9;
    }
    &:focus {
      box-shadow: unset;
    }
    &:focus-within {
      box-shadow: unset;
      border-color: #d9d9d9;
    }
  }
}
.error {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
