.appPasswordInput {
  font-size: var(--font-14);
  font-weight: 500;
  color: #1e1f21;
  border: none;
  position: relative;

  .icon {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
  }

  *:focus {
    outline: 0 !important;
    box-shadow: unset !important;
  }
  .ant-input-outlined {
    height: 40px;
    &:hover {
      border-color: #bfbebe !important;
    }
    &::placeholder {
      color: #202123 !important;
      font-size: 14px;
      font-weight: 500;
      line-height: normal;
      
    }
  }
}

.error {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
