.appTextArea {
  .ant-input-outlined {
    border-color: #bfbebe;
    &:hover {
      border-color: #bfbebe;
    }
  }
  .ant-input::placeholder {
    color: #202123 !important;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
  }

  *:focus {
    outline: 0 !important;
    box-shadow: unset !important;
  }
}

.error {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
